:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

.avatar {
  width:320px;
  height:200px;
}

.body {
  padding:180px;
}

.reset-link-style {
  color:white;
  font-style: normal;
  text-decoration: none;
}

p {
  color:white;

}

h1 {
  color:white;
}

h2 {
  color:black;
}



.box-container {
  border: 1px solid #ffffff;   
  /* border: 1px solid #ffffff; */
  /* background-color: #242424; */
  background-color: #161616;
  border-radius: 6px;             
  max-width: 780px;   
  height: 550px;   
  margin: 20px auto;  
  padding-right:1px;    
  margin-top:190px; 
  

}

.window-container {
  border: 3px solid #333;   
  background-color: #242424;
  border-radius: 6px;             
  max-width: 780px;   
  height: 550px;   
  margin: 20px auto;  
  padding-right:1px;    
  margin-top:100px; 
  overflow:'hidden';
  display: flex;
  flex-direction:column;
  

}

.modal-body {
  padding: 20px;
  padding-top: 10px;
  overflow-y: auto;   /* enables vertical scroll */
  flex: 1;            /* takes remaining space */
  border-top: 1px solid #333;
  margin-top: 20px;
  
}

.modal-body2 {
  padding: 20px;
  padding-top: 10px;
  overflow-y: auto;   /* enables vertical scroll */
  flex: 1;            /* takes remaining space */
  margin-top: 20px;
  
}

.box-header {
  
  border-bottom: 1px solid #ffffff;
  width: 100%;
  height: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-shrink: 0; /* prevents header from shrinking */
  
}

.box-header h4 {
  font-family:'Calibri', sans-serif;
  font-weight:500;
  position: relative;
  bottom:20px;
  height:45px;
  padding-top: 13px;
  padding-left: 25px;
}

.box-header1 {

  border-bottom: 1px solid #ffffff;
  background-color:#242424;
  width: 100%;
  height: 50px;
  position:relative;
  bottom:20px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  flex-shrink: 0; /* prevents header from shrinking */
  
}

.box-header1 h4 {
  font-family:'Calibri', sans-serif;
  font-weight:500;
  position: relative;
  bottom:10px;
  height:45px;
  padding-top: 23px;
  padding-left: 25px;
}

/* Close Button */
.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.close-btn:hover {
  color: red;
  transform: scale(1.1);
}


.about-me-logo {
  height: 55px;
  width: 55px;
  display: flex;
  margin-bottom: 10px;
}

.links-container ul{
  list-style:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  height: 45px;
  padding: 50px;

}

.links-container {
  margin-top:0%;
}



.small-container {
  padding: 40px;

}



.avatar-card{

  display: flex;
  width:100%;
  height:100%;
  padding-top:20px;
  padding-left:40px;
  /* border: 1px solid white; */
}

.avatar-card img {
  max-width: 150px;
  height: 150px;
  border-radius:100%;
  border: 2px solid white;
  

}

.avatar-info {
  display: flex;
  width: 65%;
  flex-direction: column; /* stack h1 and p vertically */
  justify-content: center; /* vertically center inside this column */
  /* border: 1px solid white; */
  margin-left:10px;
  margin-top:0px;
  
}

.avatar-card h1 {
  margin:0;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 20px;

}

.avatar-card p {
  width:100%;
  padding-left: 25px;
  
}


.link-container {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
}

.hero {
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  gap: 10px;
}


/* Draggable */



.dragdiv {
    padding: 8rem;
    color: blueviolet;
    cursor: grabbing;
    font-size: medium;
    font-weight: 600;
    font-family:
        'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* WorkWindow.jsx */

.quote-box {
  background-color: #333;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 30px;
  width: auto;
  min-height: 50px;
  padding: 10px;
  padding-left: 20px;
}

.quote-box p {
  font-weight:100px;
  font-size:small;
  
}

/* Terminal Container */

.terminal-container {
  background-color: rgb(37, 37, 37);
  height: 251px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal-container p {
  padding:30px;
}