:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

.avatar {
  width:320px;
  height:200px;
}

.body {
  padding:180px;
}

.reset-link-style {
  color:white;
  font-style: normal;
  text-decoration: none;
}

.box-container {
  border: 3px solid #333;   
  border-radius: 12px;             
  max-width: 780px;   
  height: 550px;   
  margin: 20px auto;  
  padding-right:1px;     
}
.box-header {

  border: 1px solid #ddd;
  background-color: white;
  width: 100%;
  height: 45px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.about-me-logo {
  height: 55px;
  width: 55px;
  display: flex;
  margin-bottom: 10px;
}

.links-container ul{
  list-style:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  height: 45px;
  padding: 50px;

}

.links-container {
  margin-top:15%;
}



.small-container {
  padding: 40px;

}

.link-container {
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
}

.hero {
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  gap: 10px;
}


/* Draggable */



.dragdiv {
    padding: 8rem;
    color: blueviolet;
    cursor: grabbing;
    font-size: medium;
    font-weight: 600;
    font-family:
        'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}